
body {
    background-color: #222; 
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
}

header, nav, section, article, aside, footer {
    background-color: #3D85B1;
    border: 3px solid #FFB800; 
    text-align: center;
    font-weight: bold;
}

article img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.main-content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: auto;
}

aside {
    padding: 10px;
}